<!-- <app-nx-welcome></app-nx-welcome>  -->
<bt-libs-ui-navbar [navbarItems]="navItems" [languages]="languages" (languageChange)="onLanguageChange($event)"></bt-libs-ui-navbar>
<a [routerLink]="'expenses-overview'">overview</a> &nbsp;
<a [routerLink]="'expenses-approval'">approval</a>

<hr>
<router-outlet></router-outlet>
ooo
<hr>

<ng-container *transloco="let t">
{{ t('msg-hello')}}
</ng-container>

<div>
    {{ 'msg-hello' | translate }}
</div>
    
<div>
    {{ aMessage  | translate }}
</div>