<!-- <app-nx-welcome></app-nx-welcome>  -->
<bt-libs-ui-navbar [navbarItems]="navItems" [languages]="languages" (languageChange)="onLanguageChange($event)"></bt-libs-ui-navbar>
<a [routerLink]="'expenses-overview'">overview</a> &nbsp;
<a [routerLink]="'expenses-approval'">approval</a>

<hr>
<router-outlet></router-outlet>
ooo
<hr>

<ng-container *btLibsUiIfFalse="false">
    <hr>
  <div>div est false</div>
  <hr>
</ng-container>

<table >
    <thead>
        <td>Index</td>
        <td>Odd/Even</td>
        <td>First/Last</td>
        <td>Data</td>

    </thead>
    <tr *ngFor="let item of [0,1,2,3,4]; trackBy: trackByFunction
      let i = index; let isOdd = odd; let isEven =  even
      let isFirst= first; let isLast = last">
    
        <td>{{i}}</td>
        <td>
            {{isOdd ? ' odd' : ''}}
            {{isEven ? ' even' : ''}}
        </td>
        <td>
            {{isFirst ? 'first' : '' }}
            {{isLast ? 'last' : '' }}
        </td>
        <td>
            {{item}}
        </td>
    </tr>
</table>
    
<ng-container *transloco="let t">
{{ t('msg-hello')}}
</ng-container>

<div>
    {{ 'msg-hello' | translate }}
</div>
    
<div>
    {{ aMessage  | translate }}
</div>

<div>
    {{ 'hello-you' | translate : {user: 'toto'}  }}
</div>

<div>
   >> {{ 'obj.child' | translate   }}
</div>

<h1 transloco="hello-you" [translocoParams]="{user: 'toto'}"></h1>
<h1 translate="msg-hello"></h1>

<p> {{ '1000.52' | translocoCurrency }} </p>
<br><br>

<br>
<p> {{ currentDate | translocoDate: { dateStyle: 'medium', timeStyle: 'medium' } }} </p>

<br>
<br>
<br>
<br>
<br>
<p> {{ 'myPluralRule' | transloco : {myCount: 0}  }}</p> 
<p> {{ 'myPluralRule' | transloco : {myCount: 1}  }}</p> 
<p> {{ 'myPluralRule' | transloco : {myCount: 2}  }}</p> <br>


<ng-container *transloco="let t">
    <h2>{{ t('icu.title') }}</h2>
  
    <p>{{ t('icu.pluralization', {count: 0}) }}</p>
    <p>{{ t('icu.pluralization', {count: 1}) }}</p>
    <p>{{ t('icu.pluralization', {count: 10}) }}</p>
</ng-container>

<div [btLibsUiHightlight]="'yellow'" [textColor]="'green'" style="width: 80%; height: 100px; border: 1px solid black;">
    <p>{{ 'genderize' | transloco: {gender: 'male'} }} </p>
    <p>{{ 'genderize' | transloco: {gender: 'female'} }} </p>
    <p>{{ 'genderize' | transloco }} </p>
</div>